%h1 All scripts

%table.table
  %thead
    %tr
      %th Name
      %th Url
      %th
      %th
      %th

  %tbody
  - @scripts.each do |script|
    %tr

      %td= link_to "#{script.name}", script
      %td= script.url


      %td= link_to 'Edit', edit_script_path(script)
      %td= link_to 'Destroy', script, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Script', new_script_path
